// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
$v-font-size: 12px;
//$v-font-weight: 300;
$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
$v-border: 1px solid (v-shade 0.7);
$v-border-radius: 4px;
$v-disabled-opacity = 0.1;
// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin sima {
   @include valo;

  // Insert your own theme rules here
}

.v-verticallayout-pieLogin {
	background-color: #087DDC !important;
	color: #FFFFFF !important;
}

.v-label-mensajeinfo {
	color: #FF0000 !important;
}

.v-label-errorLogueo {
	color: blue !important;
}
.v-textfield {
	text-transform: uppercase !important;
}

v-disabled-opacity{
	
}
.v-textarea {
	text-transform: uppercase !important;
}

.v-textarea.v-disabled  {
	border: dotted;
}

.v-textfield.v-disabled {
 border: dotted;
}


.v-button.v-disabled {
	cursor: default !important;
	opacity: 0.5 !important;
}

.v-window-succes .v-window-outerheader {
	color: #FFFFFF !important;
	text-align: center !important;
	background: #5CB85C !important;
}

.v-window-warning .v-window-outerheader {
	color: #FFFFFF !important;
	text-align: center !important;
	background: #FFCC00 !important;
}

.v-window-erro .v-window-outerheader {
	color: #FFFFFF !important;
	text-align: center !important;
	background: red !important;
}



.v-window-erro .v-window-outerheader .v-window-header {
	text-shadow: none !important;
	font-size: 14px !important;
}

.v-window-succes .v-window-outerheader .v-window-header {
	text-shadow: none !important;
	font-size: 14px !important;
}

.v-window-warning .v-window-outerheader .v-window-header {
	text-shadow: none !important;
	font-size: 14px !important;
}
.v-window-erro .v-window-closebox {
	display: none !important;
}

.v-window-succes .v-window-closebox {
	display: none !important;
}

.v-window-warning .v-window-closebox {
	display: none !important;
}

.v-menubar {
	background: #087DDC !important;
}

.v-menubar-submenu .v-menubar-submenu-indicator {
	background: url("menubar/img/submenu-icon-hover.png") no-repeat scroll
		right 0% transparent !important;
}

.v-menubar-submenu {
	background: #087DDC !important;
}

.v-menubar-menuitem-caption {
	color: #FFFFFF !important;
}

.v-menubar .v-menubar-menuitem-selected, .v-menubar-submenu .v-menubar-menuitem-selected
	{
	background: #009FFF !important;
}

.v-menubar-menuitem-highlight {
    background: #000040; 
}

.v-treetable-treespacer {
	display: none !important;
}

.v-tooltip-text {
	background-color: #009FFF !important;
	color: white !important;
	border: 0.5px solid white !important;
}


.v-window-foo .v-window-outerheader {
     background: red;
     }

.v-window-foo .v-window-header {
     color: black;
      background: red;
     }
